body {
  font-family: sans-serif;
  background-color: rgba(15, 15, 15, .75)
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.user-input-row {
  width: 100%;
  margin: 5px;
}

.user-info-input {
  width: 300px;
  padding-left: 5px;
}

